{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge?">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extracss %}{% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    {% endblock %}



    <title>JMCDS | {% block title %}{% endblock %}</title>

    {% block extrajs %}{% endblock %}
</head>

<body>
    <header>
        <!---nav from bootstrap and edited with stackblitz-->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div class="row nav-row">
                    <div class="col-3">
                        <a class="navbar-brand" href="{% url 'home_page' %}">Logo</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>

                    <div class="col-6 collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Services
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Dyslexia Screening</a></li>
                                    <li><a class="dropdown-item" href="#">Intervention Classes</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Business Consultation</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'make_booking' %}">Make Booking</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'get_bookings' %}">View Bookings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                                <span>(Logged in as {{ user.email }})</span>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
    <section class="container-fluid footer-container">
        <footer class="align-items-center py-3">
            <div class="col-md-4 align-items-center footer-logo">
                Logo ©
            </div>
            <div class="col-md-4 align-items-center team-link">
                <span><a href="https://github.com/SamMartin92/team-10-may-hackathon" target="_blank"><i
                            class="fab fa-github text-warning"></i> Connect<span
                            class="text-warning">10</span></a></span>
            </div>
            <div class="col-md-4">
                <h5 class="left-align">Contact Info:</h5>
                <ul class="footer-ul left-align">
                    <li class="ms-3"><i class="fa-solid fa-phone"> </i>+353 86 087 3335</li>
                    <li class="ms-3"><i class="fa-solid fa-envelope"> </i>jenniemcaleese@hotmail.com</li>
                    <li class="ms-3"><i class="fa-brands fa-linkedin"></i> <a
                            href="https://www.linkedin.com/in/jennie-mcaleese-440aa039/" target="_blank">Linkedin
                        </a></li>
                </ul>
            </div>
        </footer>
    </section>
    {% block postloadjs %}
    <script src="https://kit.fontawesome.com/8fe2541de2.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
</body>

</html>