{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<div>
    <h1><strong>This that client details form</strong></h1>
</div>

<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="client_name" class="form-label">Name</label>
        <input type="text" class="form-control" id="client_name" name="client_name">
    </div>
    <div class="mb-3">
        <label for="client_phone" class="form-label">Phone number</label>
        <input type="tel" class="form-control" id="client_phone" name="client_phone">
    </div>
    <div class="mb-3 form-check">
        <label class="form-check-label" for="is_guardian">Please check box if you are the guardian of patient</label>
        <input type="checkbox" class="form-check-input" id="is_guardian" name="is_guardian">
    </div>
    <div class="mb-3">
        <label for="childs_name" class="form-label">Child's name</label>
        <input type="text" class="form-control" id="childs_name" name="childs_name">
    </div>
    <div class="mb-3 form-check">
        <label class="form-check-label" for="is_guardian">Please check box if you are already diagnosed</label>
        <input type="checkbox" class="form-check-input" id="is_guardian" name="is_guardian">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}