{% extends 'home/base.html' %}
{% load static %}


{% block title %}
Home
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script type="text/javascript">
  (function () {
    emailjs.init("Hd3kDcWXoTUyVhO8I");
  })();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
{% endblock %}


{% block content %}

{% if request.user.is_authenticated and not client %}

<div class="alert alert-warning" role="alert">
  A simple warning alert with <span data-bs-toggle="modal" data-bs-target="#clientDetailsModal">an example link</span>. Give
  it a click if you like.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!-- Modal -->
<div class="modal fade off-black" id="clientDetailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kindly provide some more details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="client-details-form">
          <form method="POST" onsubmit="process(event)">
            {% csrf_token %}

            <div class="mb-3 form-phone-div">
              <label for="client_phone" class="form-label">Phone number:</label>
              <input type="tel" class="form-control" id="client_phone" name="client_phone" placeholder="8X XXX XXXX">
            </div>
            <div class="mb-3">
              <label class="form-check-label" for="is_guardian">Please check box if you are the guardian of
                patient</label>
              <input type="checkbox" id="is_guardian" name="is_guardian">
            </div>
            <div class="mb-3">
              <label for="childs_name" class="form-label">Child's name:</label>
              <input type="text" class="form-control form-child-name-input" id="childs_name" name="childs_name"
                placeholder="Please enter child's name" disabled>
            </div>
            <div class="mb-3">
              <label class="form-check-label" for="already_diagnosed">Please check box if already
                diagnosed</label>
              <input type="checkbox" id="already_diagnosed" name="already_diagnosed">
            </div>
            <div class="client-details-btns modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %}

<!--https://getbootstrap.com/docs/5.2/examples/heroes/ responsive left aligned-->
<section class="container col-xxl-8 px-4 py-5 off-black">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static '/images/glasses-on-book.jpg' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
        width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">JM Dyslexia Services</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
        popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
        extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-center">
        <a class="nav-link" href="{% url 'make_booking' %}"><button type="button"
            class="btn btn-danger btn-lg px-4 me-md-2" action="{% url 'make_booking' %}">Book a
            screening</button></a>
      </div>
    </div>
  </div>
</section>

<!-- Subtitle section to go inhere with generic dyslexia pic from free site -->
<section class="off-black">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-5"><img class="img-fluid rounded-circle profile-img"
            src="{% static '/images/hero-profile-image.jpg' %}" alt="..."></div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Here to help !</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse
            assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae
            adipisci, beatae obcaecati.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- https://getbootstrap.com/docs/5.2/examples/features/ -->
<section class="container px-4 py-5 off-black" id="featured-3">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon mb-3">
        <i class="fa-solid fa-check"></i>
      </div>
      <div class="feature-text">
        <h2>Dyslexia Screening</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link align-items-center">
          Call to action
          <svg class="bi" width="1em" height="1em">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="feature col">
      <div class="feature-icon mb-3">
        <i class="fa-solid fa-person-chalkboard"></i>
      </div>
      <div class="feature-text">
        <h2>Intervention Classes</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link align-items-center">
          Call to action
          <svg class="bi" width="1em" height="1em">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="feature col">
      <div class="feature-icon mb-3">
        <i class="fa-solid fa-briefcase"></i>
      </div>
      <div class="feature-text">
        <h2>Intervention Classes</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and
          probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link align-items-center">
          Call to action
          <svg class="bi" width="1em" height="1em">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="container form-container off-black">
  <div class="row bg-color-contact">
    <div>
      <h3 class="contact-heading uppercase text-center">Got a project in mind?</h3>
      <h5 class="uppercase text-center">Let's work together</h5>
    </div>
    <div id="contact-form" class="center-form">
      <form class="contact-form" onsubmit="return sendMail(this);">
        <input type="text" name="name" class="form-control" id="fullname" placeholder="Name" required />
        <input type="email" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email" required />
        <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone No." />
        <textarea rows="5" name="message" class="form-control" id="message" placeholder="Please type your message here"
          required></textarea>
        <button type="submit" class="btn btn-info btn-lg center-block">Send Query</button>
      </form>
    </div>
    <div id="success-message" class="hidden">
      <p>Thank you for your enquiry. We will respond shortly.</p>
    </div>
  </div>
</section>
{% endblock %}

{% block postloadjs %}
<script>
  const phoneInputField = document.querySelector("#client_phone");
  const phoneInput = window.intlTelInput(phoneInputField, {
    preferredCountries: ["ie", "gb", ],
    utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
  });
</script>
{% endblock %}