{% extends 'home/base.html' %}
{% load static %}


{% block title %}
Services
{% endblock %}

{% block content %}
<header class="py-5 bg-orange-gradient off-black banner-container">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center">
      <h1 class="display-4 banner-head">Services</h1>
      <p class="lead fw-normal">Screenings, Classes and Consultation</p>
      <p class="lead fw-normal">See what JM Dyslexia Services can offer you below</p>
    </div>
  </div>
</header>
<section class="main-section-services">
  <section class="container services-container">
    <h1 class="services-heading-left">Dyslexia Screening</h1>
    <div class="services-border"></div>
    <div class="row">
      <div class="col-12 col-sm-6 services-sub">
        <h5>Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs
          passed but wishes. You day real less till dear read.</h5>
      </div>
      <div class="col-12 col-sm-6 services-highlight">
        <p>Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart
          money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You
          day real less till dear read. Considered use dispatched melancholy sympathize discretion led.</p>
        <p>Oh feel if up to till like. He an thing rapid these after going drawn or. Timed she his law the spoil round
          defer. In surprise concerns informed betrayed he learning is ye.</p>
      </div>
    </div>
  </section>
  <section class="container services-container">
    <h1 class="right-align services-heading-right">Intervention Classes</h1>
    <div class="services-border"></div>
    <div class="row">
      <div class="col-12 col-sm-6 services-highlight services-sub">
        <h5>Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs
          passed but wishes. You day real less till dear read.</h5>
      </div>
      <div class="col-12 col-sm-6">
        <p>Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart
          money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You
          day real less till dear read. Considered use dispatched melancholy sympathize discretion led.</p>
        <p>Oh feel if up to till like. He an thing rapid these after going drawn or. Timed she his law the spoil round
          defer. In surprise concerns informed betrayed he learning is ye.</p>
      </div>
    </div>
  </section>
  <section class="container services-container">
    <h1 class="services-heading-left">Business Consultation</h1>
    <div class="services-border"></div>
    <div class="row">
      <div class="col-12 col-sm-6 services-sub">
        <h5>Quick can manor smart money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs
          passed but wishes. You day real less till dear read.</h5>
      </div>
      <div class="col-12 col-sm-6 services-highlight">
        <p>Article evident arrived express highest men did boy. Mistress sensible entirely am so. Quick can manor smart
          money hopes worth too. Comfort produce husband boy her had hearing. Law others theirs passed but wishes. You
          day real less till dear read. Considered use dispatched melancholy sympathize discretion led.</p>
        <p>Oh feel if up to till like. He an thing rapid these after going drawn or. Timed she his law the spoil round
          defer. In surprise concerns informed betrayed he learning is ye.</p>
      </div>
    </div>
  </section>






</section>

{% endblock %}