{% extends 'home/base.html' %}
{% load static %}


{% block title %}
Services
{% endblock %}

{% block content %}
<header class="py-5 bg-orange-gradient off-black banner-container">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center">
      <h1 class="display-4 banner-head">Services</h1>
      <p class="lead fw-normal">Screenings, Classes and Consultation</p>
      <p class="lead fw-normal">See what JM Dyslexia Services can offer you below</p>
    </div>
  </div>
</header>
<section class="main-section-services">
  <section class="container services-container" id="dyslexia-screening">
    <h1 class="services-heading-left" >Dyslexia Screening</h1>
    <div class="services-border"></div>
    <div class="row">
      <div class="col-12 col-sm-6 services-sub">
        <h5>Online or in person diagnostic screening and assessment to ascertain you or your child's specific learning
          difficulty dyslexia (SpLD).</h5>
        <h5> We help our clients determine whether specialist intervention classes are
          necessary and help them understand the strengths and weaknesses of their profile.</h5>
      </div>
      <div class="col-12 col-sm-6 services-highlight">
        <p>Beginning with an initial Dyslexia Screening consultation consisting of a pre-diagnostic interview and
          information gathering, we will first determine whether an assessment for our client will be suitable and
          necessary. Following on from the results of this initial screening, if it is deemed beneficial to our clients,
          they may proceed with Dyslexia Assessment.</p>
        <p>Consisting of a selection of assessment tests, accredited to the standards of the <a
            href="https://www.bdadyslexia.org.uk/" target="_blank">British Dyslexia
            Association</a> and carried out to the specifications of the <a href="https://sasc.org.uk/"
            target="_blank">SASC</a>, our Dyslexia Assessment will allow us to
          identify particular areas of focus and concern with our clients. These assessments can take place over one or
          more sessions as appropriate, allowing for participant comfort breaks and personal schedule..</p>
        <p>A feedback consultation will follow where the participant will be furnished with an assessment report
          containing recommendations specific to the individual relevant to their own home, work and education
          environments. Specific intervention classes tailored to the client’s assessment report will then be offered.
        </p>
      </div>
    </div>
  </section>
  <section class="container services-container" id="intervention-classes">
    <h1 class="right-align services-heading-right">Intervention Classes</h1>
    <div class="services-border"></div>
    <div class="row">
      <div class="col-12 col-sm-6 services-highlight services-sub">
        <h5>Specialist Teaching Intervention Classes tailored to the results of each indiviual's assessment process
          where there is an intervention need.</h5>
        <h5>Specific targets set out with the leaner in relation to their literary goals at the outset to help them best
          handle their learning challenge.</h5>
      </div>
      <div class="col-12 col-sm-6">
        <p>We will provide structured lessons, which aim to support the learner in recognition and development of their
          own metacognitive processing ( the process of developing an understanding about how we think and learn). This
          is the key focus of this intervention.</p>
        <p>Classes will enable the learner to implement learned strategies across a number of settings(home, education &
          employment and are offered in blocks, which allow the learner to pick specific targets and take time to
          develop relevant skills. A multi-sensory approach is incorporated as there is strong evidence of the its
          benefits for dyslexic learners, in particular the <a href="https://study.sagepub.com/kellyandphillips2e"
            target="_blank">Kelly and Phillips approach</a>.</p>
      </div>
    </div>
  </section>
  <section class="container services-container" id="business-consultation">
    <h1 class="services-heading-left">Business Consultation</h1>
    <div class="services-border"></div>
    <div class="row">
      <div class="col-12 col-sm-6 services-sub">
        <h5>Helping you adapt your working environment to optimise engagement and accessability for your dyslexic
          employees. </h5><h5>We will scale our services to support your change efforts in implementing the right tools to help
          minimize or prevent disruption for your workforce's day-to-day operations.</h5>
      </div>
      <div class="col-12 col-sm-6 services-highlight">
        <p>Dyslexic employees encounter a number of struggles which go unnoticed. From environmental challenges
          like lighting and cluttered workspaces to overloading of information, there can be many obstacles which
          dyslexic employees face in their day-to day tasks. </p>
        <p>We offer employers strategies to support their affected employees such as helping to increase visual supports
          in the work environment, adapting policies and procedures into accessible language and reviewing internal
          documentation which employees must complete and comprehend.</p>
        <p>We can help your business in creating a more dyslexia friendly working environment so that all employees feel
          valued and help you foster a more productive and successful workplace.</p>
      </div>
    </div>
  </section>






</section>

{% endblock %}