{% extends 'home/base.html' %}
{% load static %}


{% block title %}
Services
{% endblock %}

{% block content %}
<header class="py-5 bg-orange-gradientoff-black">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center">
        <h1 class="display-4 fw-bolder">Services</h1>
        <p class="lead fw-normal">Screenings, Classes and Consultation</p>
        <p class="lead fw-normal">See what JM Dyslexia Services can offer you below</p>
      </div>
    </div>
  </header>
<section class="main-section">

</section>

{% endblock %}