{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Bookings</h1>
          <p class="lead fw-normal text-white-50 mb-0">View history & Manage your bookings below</p>
      </div>
  </div>
</header>
<section class="view-booking-section">

  {% for booking in bookings %}
  {% if booking.status == 1 %}
  <h4>
    Upcoming Bookings
  </h4>
  <ul>
    <li>
      <div class="bookings-li">
        <div>
          {{ booking.class_type }}

          {{ booking.booking_type }}

          {{ booking.booking_date }}

          {{ booking.time_slot }}
        </div>
        <div>
          <button class="btn btn-warning"><a href="/edit_booking/{{ booking.id }}">Modify booking</a></button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#delete_modal{{ booking.id }}">
            Cancel Booking
          </button>
        </div>
      </div>
    </li>
  </ul>

  <div class="modal fade" id="delete_modal{{ booking.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Confirmation required</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Are you sure you want to cancel this booking?</h5>
          <p>Class : {{booking.class_type}} ({{ booking.booking_type }})</p>
          <p>Date : {{booking.booking_date}}</p>
          <p>Date : {{booking.booking_date}}</p>
          <p>Time : {{booking.time_slot}}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-warning"><a href="/cancel_booking/{{ booking.id }}">Cancel booking</a></button>
      </div>
    </div>
  </div>
  </div>

  {% elif booking.status == 0 %}
    <h4>
      Pending Bookings
    </h4>
    <ul>
      <li>
        <div class="bookings-li">
          <div>
            {{ booking.class_type }}
  
            {{ booking.booking_type }}
  
            {{ booking.booking_date }}
  
            {{ booking.time_slot }}
          </div>
          <div>
            <button class="btn btn-warning"><a href="/edit_booking/{{ booking.id }}">Modify booking</a></button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#delete_modal{{ booking.id }}">
              Cancel Booking
            </button>
          </div>
        </div>
      </li>
    </ul>


    <div class="modal fade" id="delete_modal{{ booking.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Confirmation required</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h5>Are you sure you want to cancel this booking?</h5>
            <p>Class : {{booking.class_type}} ({{ booking.booking_type }})</p>
            <p>Date : {{booking.booking_date}}</p>
            <p>Date : {{booking.booking_date}}</p>
            <p>Time : {{booking.time_slot}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-warning"><a href="/cancel_booking/{{ booking.id }}">Cancel booking</a></button>
          </div>
        </div>
      </div>
    </div>
    {% elif booking.status == 3 %}
    <h4>
      Past Bookings
    </h4>
    <ul>
      <li>
        <div class="bookings-li">
          <div>
            {{ booking.class_type }}
  
            {{ booking.booking_type }}
  
            {{ booking.booking_date }}
  
            {{ booking.time_slot }}
          </div>
        </div>
      </li>
    </ul>
  {% endif %}
  {% endfor %}

  {% if not upcomingbookings %}
  <p>You currently have no upcoming bookings. Would you like to book a class?</p>
  <button class="btn btn-warning"><a href="{% url 'make_booking' %}">Make a booking</a> </button>


  {% endif %}
</section>





{% endblock %}