{% extends 'home/base.html' %}
{% load static %}

{% block title %}Bookings{% endblock %}

{% block content %}
<header class="py-5 bg-light-orange">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Bookings</h1>
      <p class="lead fw-normal">View history & Manage your bookings below</p>
    </div>
  </div>
</header>
<section class="main-section">
  <div class="bookings-div">
    {% if confirmed_bookings %}
    <div class="bookings-sub-div">
      <h4>
        Upcoming Bookings
      </h4>
      <hr>
      <div class="booking-ul">
        <ul>
          {% for booking in confirmed_bookings %}
          <li>
            <div class="bookings-li">
              <div>
                {{ booking.class_type }}

                {{ booking.booking_type }}

                {{ booking.booking_date }}

                {{ booking.time_slot }}
              </div>

              <div class="booking-btns">
                <button class="btn btn-warning"><a href="/edit_booking/{{ booking.id }}">Modify booking</a></button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#delete_modal{{ booking.id }}">
                  Cancel Booking
                </button>
              </div>
            </div>
          </li>

          <div class="modal fade" id="delete_modal{{ booking.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">Confirmation required</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h5>Are you sure you want to cancel this booking?</h5>
                  <p>Class : {{booking.class_type}} ({{ booking.booking_type }})</p>
                  <p>Date : {{booking.booking_date}}</p>
                  <p>Time : {{booking.time_slot}}</p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-warning"><a href="/cancel_booking/{{ booking.id }}">Cancel booking</a></button>
              </div>
            </div>
          </div>


          {% endfor %}
        </ul>
      </div>
    </div>




    {% else %}

    {% endif %}


    {% if pending_bookings %}
    <div class="bookings-sub-div">
      <h4>
        Pending Bookings <i class="fa-regular fa-circle-question popover-q" tabindex="0" class="btn btn-lg btn-danger"
          role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-title="Pending bookings"
          data-bs-content="Booking still pending. Once confirmed, it will be shown in your upcoming bookings."></i>
      </h4>

      <hr>
      <div class="booking-ul">
        <ul>
          {% for booking in pending_bookings %}
          <li>
            <div class="bookings-li">
              <div>
                {{ booking.class_type }}

                {{ booking.booking_type }}

                {{ booking.booking_date }}

                {{ booking.time_slot }}
              </div>
              <div class="booking-btns">
                <button class="btn btn-warning"><a href="/edit_booking/{{ booking.id }}">Modify booking</a></button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#delete_modal{{ booking.id }}">
                  Cancel Booking
                </button>
              </div>
            </div>
          </li>

          <div class="modal fade" id="delete_modal{{ booking.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">Confirmation required</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h5>Are you sure you want to cancel this booking?</h5>
                  <p>Class : {{booking.class_type}} ({{ booking.booking_type }})</p>
                  <p>Date : {{booking.booking_date}}</p>
                  <p>Time : {{booking.time_slot}}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-warning"><a href="/cancel_booking/{{ booking.id }}">Cancel
                      booking</a></button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </ul>
      </div>
    </div>




    {% else %}

    {% endif %}

    {% if past_bookings %}
    <div class="bookings-sub-div">
      <h4>
        Past Bookings
      </h4>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h4 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Past bookings
            </button>
          </h4>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="booking-ul">
                <ul>
                  {% for booking in past_bookings %}
                  <li>
                    <div class="bookings-li">
                      <div>
                        {{ booking.class_type }}

                        {{ booking.booking_type }}

                        {{ booking.booking_date }}

                        {{ booking.time_slot }}
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% else %}
          {% endif %}
        </div>


        {% if not upcoming_bookings %}

        <div class="no-bookings-div">
          <p>You currently have no upcoming bookings. Would you like to book a class?</p>
          <button class="btn btn-warning"><a href="{% url 'make_booking' %}">Make a booking</a> </button>
        </div>


        {% endif %}
      </div>
    </div>
  </div>
</section>





{% endblock %}
{% block postloadjs %}
<script>
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
  const popover = new bootstrap.Popover('.popover-dismiss', {
    trigger: 'focus'
  })
</script>
{% endblock %}