{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<table>
    {% for booking in bookings %}
    <tr>
        <td>
            {{ booking.class_type }}
        </td>
        <td>
            {{ booking.booking_type }}
        </td>
        <td>
            {{ booking.booking_date }}
        </td>
        <td>
            {{ booking.time_slot }}
        </td>
        <td>
            <button class="btn btn-warning"><a href="/edit_booking/{{ booking.id }}">Modify booking</a></button>
            <button class="btn btn-warning"><a href="/cancel_booking/{{ booking.id }}">Cancel booking</a></button>
        </td>
    </tr>
</table>
{% empty %}
<p>You currently have no bookings. Would you like to book a class?</p>
<button class="btn btn-warning"><a href="{% url 'make_booking' %}">Make a booking</a> </button>
{% endfor %}


{% endblock %}