* {
    margin: 0;
    padding: 0;
}

/*----Gen Rules--*/
.hidden {
    display: none;
}

.justify-center {
    justify-content: center;
}

.left-align {
    text-align: left;
}

/*------Nav----*/

.nav-row {
    width: 100%;
    align-items: center;
}

.navbar-toggler {
    float: left;
}

.navbar-collapse {
    flex-grow: 0;
}


/*-----Footer----*/

.footer-container {
    --bs-gutter-x: 0;
}

footer {
    position: absolute;
    width: 100vw;
    height: 100px;
    display: flex;
}

footer a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

footer a:hover {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: underline;
}

.footer-logo {
    /* color: rgba(255, 255, 255, 0.75); */
    margin-left: 25px;
    font-size: 25px;
    padding: 15px;
}

.align-items-center {
    text-align: center;
}

.team-link {
    font-size: 25px;
    padding: 15px;
}

.footer-ul {
    display: list-item;
    list-style-type: none;
    padding: 0;
}

.footer-ul>li {
    display: flex;
}

li>i {
    margin-right: 15px;
}



@media only screen and (max-width: 575px) {
    footer {
        height: auto;
        display: block;
        text-align: center;
    }

    .footer-ul {
        line-height: 2em;
    }

    .footer-ul>li {
        display: flex;
        justify-content: center;
    }

    .left-align {
        text-align: center;
    }

}

/*----Profile section--*/

.profile-img{
    max-height: 300px;
}


/*-----Features--*/
.feature-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.feature-icon {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

/*---Contact Form---*/
.form-container{
    margin-bottom: 50px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form > button {
    margin: 10px;
    font-weight: 600;
}

/*-----View bookings--*/

.view-booking-section {
    min-height: 75vh;
    margin: 40px;
}

.view-booking-section > h4 {
    text-align: center;
    padding: 10px;
}

.view-booking-section > ul{
    padding: 20px 0px 20px 0px;
}

.bookings-li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.booking-btns{
    margin: 10px;
}