*{
    margin: 0;
    padding: 0;
}

/*----Gen Rules--*/
.hidden{
    display: none;
}

.justify-center{
    justify-content: center;
}

/*------Nav----*/

.nav-row{
    width: 100%;
}

.navbar-collapse{
    flex-grow: 0;
}

/*-----Features--*/
.feature-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.feature-icon{
    display: flex;
    justify-content: center;
    font-size: 35px;
}
