* {
    margin: 0;
    padding: 0;
    /* background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important; */
}

/*----Gen Rules--*/
.hidden {
    display: none;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    text-align: center;
}

.left-align {
    text-align: left;
}

.main-section {
    min-height: 75vh;
    margin: 40px;
    display: flex;
    justify-content: center;
    color: #2c3e50
}

@media only screen and (max-width: 575px) {
    .main-section {
        margin: 40px 0;
    }

}

/*----Colours---*/

.orange {
    color: #fca253;
}

.light-orange {
    color: #fca961;
}

.navy-blue {
    color: #4460aa
}

.dark-green {
    color: #206755
}

.light-green {
    color: #329199
}

.off-black {
    color: #2c3e50
}

.bg-orange {
    background-color: #fca253;
}

.bg-light-orange {
    background-color: #fca961;
}

.bg-navy-blue {
    background-color: #4460aa
}

.bg-dark-green {
    background-color: #206755
}

.bg-light-green {
    background-color: #329199
}

/*------Nav----*/

.nav-contain {
    display: inline-block;
}

.nav-row {
    align-items: center;
    width: 100%;
}

.navbar-toggler {
    float: left;
}

.navbar-collapse {
    flex-grow: 0;
}

@media only screen and (max-width: 575px) {
    .nav-row{
        width: auto;
    }

}

/*-----Footer----*/

.footer-container {
    --bs-gutter-x: 0;
}

footer {
    position: absolute;
    width: 100vw;
    height: 100px;
    display: flex;
}

footer > div{
    width: 33%;
}

footer a {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

footer a:hover {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: underline;
}

.footer-logo {
    font-size: 25px;
    padding: 15px;
}

.team-link {
    font-size: 25px;
    padding: 15px;
}

.footer-ul {
    display: list-item;
    list-style-type: none;
    padding: 0;
}

.contact-div{
    flex: none;
}

.footer-ul>li {
    display: flex;
}

li>i {
    margin-right: 15px;
}



@media only screen and (max-width: 575px) {
    footer {
        height: auto;
        display: block;
        text-align: center;
    }

    .footer-ul {
        line-height: 2em;
    }

    .footer-ul>li {
        display: flex;
        justify-content: center;
    }

    .left-align {
        text-align: center;
    }

    footer > div{
        width: auto;
    }

}



/*----Profile section--*/

.profile-img {
    max-height: 300px;
}


/*-----Features--*/
.feature-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.feature-icon {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

/*---Contact Form---*/
.form-container {
    margin-bottom: 50px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form>button {
    margin: 10px;
    font-weight: 600;
}

/*-----View bookings--*/
.bookings-sub-div {
    border: 1px solid black;
    margin: 15px 0;
}

.bookings-sub-div>h4 {
    text-align: center;
    padding: 10px;
}

.booking-ul {
    padding: 20px 0px 20px 0px;
}


.bookings-li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.no-bookings-div {
    margin: 50px 0;
}

.booking-btns {
    margin: 10px;
}


/*---Client details form--*/

.client-details-head {
    margin: 30px 0;
    max-width: 400px;
}

.client-details-form {
    max-width: 400px;
}

.client-details-btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#already_diagnosed,
#is_guardian {
    float: right;
    position: relative;
}

.form-phone-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-child-name-input {
    max-width: 250px;
}

@media only screen and (max-width: 575px) {
    .client-details-head {
        margin: 30px 0;
    }

    .client-details-form {
        padding: 5px;
    }

}

@media only screen and (max-width: 400px) {

    #already_diagnosed,
    #is_guardian {
        float: none;

    }

    .client-details-form label {
        width: 100%;
    }
}